{% extends 'base.html.twig' %}
{% block customjs %}
    <script type="text/javascript" src="{{ asset('js/calls.index.js') }}"></script>
{% endblock %}
{% block title %}Журнал звонков{% endblock %}

{% block body %}
    <div id='content'>
        <div class='row'>
            <a href='/calls/add'>
                <button class='btn btn-warning'>Створити записи</button>
            </a>
            <a href='/calls/export'>
                <button class='btn btn-warning'>Експортувати в Excel</button>
            </a>
            <div class="table-responsive">
                <table id='stattab' border='0'>
                    <tr>
                        <td> Всього записів: $statData['all']</td>
                        <td> За поточний місяць:  $statData['month']  </td>
                    </tr>
                </table>
            </div>
            <div class="table-responsive">
                <table id='callstable' class='table table-bordered table-condensed' border="1">
                    <form role='form' action='/calls/filter' method='post'>
                        <tr id='tablerow'>
                            <th id='tablecol'>Дата звернення
                                <input type="date" style="width: 150px !important" id='date1' value="$date1" class='form-control' />
                                <input type="date" style="width: 150px !important" id='date2' onblur="insertDate()" value="$date2" class='form-control' />
                                <input type="hidden" name='date' />
                            </th>
                            <th id='tablecol'>Тип
                                <select class='form-control' name='client_type'>
                                    <option value='' selected>  --- </option>
                                    foreach($clientTypeList as $list){
									$select = '';
									if($list['id'] == $data['client_type']){ $select = 'selected';}
								    echo '<option value='.$list['id'].' '.$select.'>'.$list['type'].'</option>';
                                    }
                                </select>
                            </th>
                            <th id='tablecol'>Заявник
                                <input type="text" name="client" class="form-control" value='  $data['client'];' />
                            </th>
                            <th id='tablecol'>ПІБ Заявника
                                <input type="text" name="fio" class="form-control" value="$data['fio']; "  />
                            </th>
                            <th id='tablecol'>Реєстр
                                <select class='form-control' name='resource'>
                                    <option value='' selected>  --- </option>
                                    foreach($resource as $list){
									$select = '';
									if($data['resource'] == $list['id']){ $select = 'selected';}
								    echo '<option value='.$list['id'].' '.$select.'>'.$list['resource'].'</option>';
                                    }
                                </select>
                            </th>
                            <th id='tablecol'>Опис
                                <input type="text" name="description" class="form-control" value=' $data['description'];' />
                            </th>
                            <th id='tablecol'>Що зроблено
                                <input type="text" name="what_to_do" class="form-control" value=' $data['what_to_do']' />
                            </th>
                            <th id='tablecol'>Виконавець
                                <select class='form-control' name='ingeneer'>
                                    <option value='' selected>  --- </option>
                                    foreach($user as $list){
									$select = '';
									if($data['ingeneer'] == $list['id']){ $select = 'selected';}
								    echo '<option value='.$list['id'].' '.$select.'>'.$list['short_name'].'</option>';
                                    }
                                </select>
                            </th>
                            <th id='tablecol'>Виклик
                                <select class='form-control' name='service'>
                                    <option value='' selected>  --- </option>
                                    <option  if($data['service'] == 'Так'){ echo "selected"; } >Так</option>
                                    <option  if($data['service'] == 'Ні'){ echo "selected"; } >Ні</option>
                                </select>
                            </th>
                            <th id='tablecol'>Відр.
                                <select class='form-control' name='trip'>
                                    <option value='' selected>  --- </option>
                                    <option $data['trip'] == 'Так'){ echo "selected"; } >Так</option>
                                    <option $data['trip'] == 'Ні'){ echo "selected"; } >Ні</option>
                                </select>
                            </th>
                            <th id='tablecol'>Дата вирішення </th>
                            <th id='tablecol'>Додатково
                                <input type="text" name="etc_data" class="form-control" value=" $data['etc_data']; " />
                            </th>
                            <th>
                                <input type='checkbox' name='status' value="0" title="только актуальные" />
                                <input class='form-control' type='submit' id='go' value='Go' /> </th>
                        </tr>
                    </form>

			    {% for call in calls %}
                        <tr id='tablerow'  {% if(call.status == false) %}style="color: yellow; text-shadow: #FF0000 1px -2px 2px;" {% endif %}>
                        <td id='tablecol'> {{ call.date|date("d.m.Y H:i") }}</td>
                        <td id='tablecol'>{{ clientType[call.clientType] }}</td>
                        <td id='tablecol'>{{ call.client}}</td>
                        <td id='tablecol'>{{ call.fio }}</td>
                        <td id='tablecol'>{{ resource[call.resource] }}</td>
                        <td id='tablecol'> {{call.description}}</td>
                        <td id='tablecol'> {{call.whattodo}}</td>
                        <td id='tablecol'> {{user[call.ingeneer] }} </td>
                        <td id='tablecol'> {{call.service}}</td>
                        <td id='tablecol'> {{call.trip}}</td>
                        <td id='tablecol'> {{call.datesuccess|date("d.m.Y H:i") }} </td>
                        <td id='tablecol'> {{call.etcdata}} </td>
                        <td id='tablecol'>
                            <div id='oneline'>
                                <a href='/calls/edit/{{call.id}}' title='Редагувати'>
                                    <img src='/img/edit.png' />
                                </a>
                                <a href='/calls/add/{{call.id}}' title='Копіювати'>
                                    <img src='/img/copy.png' />
                                </a>
                                <a onclick="if(confirm('Вы уверены?'))location.href='/calls/delete/{{call.id}}'" title='Видалити'>
                                    <img src='/img/delete.png' />
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}
