{% extends 'base.html.twig' %}
{% block customjs %}
    <script type="text/javascript" src="{{ asset('js/calls.index.js') }}"></script>
{% endblock %}
{% block title %}Журнал звонков{% endblock %}

{% block body %}
    <div id='content'>
        <div class='row'>
            <a href='/calls/add'>
                <button class='btn btn-warning'>Створити записи</button>
            </a>
            <a href='/calls/export'>
                <button class='btn btn-warning'>Експортувати в Excel</button>
            </a>
            <div class="table-responsive">
                <table id='stattab' border='0'>
                    <tr>
                        <td> Всього записів: $statData['all']</td>
                        <td> За поточний місяць:  $statData['month']  </td>
                    </tr>
                </table>
            </div>

            <div class="table-responsive">
                <table id='callstable' class='table table-bordered table-condensed' border="1">
                    <tr id="tablerow">
                        {{ form_start(searchForm) }}
                        <th id="tablecol">
                            {{ form_row(searchForm.date) }}
                            <input type="date" style="width: 150px !important" id='date1' name="date1" value="" class='form-control' />
                            <input type="date" style="width: 150px !important" id='date2' name="date2" onblur="insertDate()" value="" class='form-control' />
                        </th>
                        <th id="tablecol">{{ form_row(searchForm.clientType, { 'attr':{'selected':'selected'} }) }} </th>
                        <th id="tablecol">{{ form_row(searchForm.client) }} </th>
                        <th id="tablecol">{{ form_row(searchForm.fio) }} </th>
                        <th id="tablecol">{{ form_row(searchForm.resource) }} </th>
                        <th id="tablecol">{{ form_row(searchForm.description) }} </th>
                        <th id="tablecol">{{ form_row(searchForm.what_to_do) }} </th>
                        <th id="tablecol">{{ form_row(searchForm.ingeneer) }} </th>
                        <th>Вызов</th>
                        <th>Комм.</th>
                        <th>Дата реш.</th>
                        <th id="tablecol">{{ form_row(searchForm.etc_data) }} </th>
                        <th id="tablecol">{{ form_row(searchForm.status) }} <br> {{  form_row(searchForm.submit) }}</th>
                        {{ form_end(searchForm) }}
                    </tr>

			    {% for call in calls %}
                        <tr id='tablerow'  {% if(call.status == false) %}style="color: yellow; text-shadow: #FF0000 1px -2px 2px;" {% endif %}>
                        <td id='tablecol'> {{ call.date|date("d.m.Y H:i") }}</td>
                        <td id='tablecol'>{{ clientType[call.clientType]  }}</td>
                        <td id='tablecol'>{{ call.client}}</td>
                        <td id='tablecol'>{{ call.fio }}</td>
                        <td id='tablecol'>{{ resource[call.resource] }}</td>
                        <td id='tablecol'> {{call.description}}</td>
                        <td id='tablecol'> {{call.whattodo}}</td>
                        <td id='tablecol'> {{user[call.ingeneer] }} </td>
                        <td id='tablecol'>{% if call.service == 1 %} Так {% else %} Нi {% endif %}</td>
                        <td id='tablecol'> {% if call.trip == 1 %} Так {% else %} Нi {% endif %}</td>
                        <td id='tablecol'> {{call.datesuccess|date("d.m.Y H:i") }} </td>
                        <td id='tablecol'> {{call.etcdata}} </td>
                        <td id='tablecol'>
                            <div id='oneline'>
                                <a href='/calls/edit/{{call.id}}' title='Редагувати'>
                                    <img src='/img/edit.png' />
                                </a>
                                <a href='/calls/add/{{call.id}}' title='Копіювати'>
                                    <img src='/img/copy.png' />
                                </a>
                                <a onclick="if(confirm('Вы уверены?'))location.href='/calls/delete/{{call.id}}'" title='Видалити'>
                                    <img src='/img/delete.png' />
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}
